@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared  */
.display-flex {
  display: flex;
}
.dark-black {
  color: rgba(19, 19, 19, 1);
}
.light-black {
  color: rgba(66, 66, 66, 1);
}
.text-grey {
  color: rgba(114, 114, 114, 1);
}
.bg-light-pink {
  background-color: rgba(255, 144, 14, 0.1);
}
.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}
.btn {
  background-color: rgba(255, 144, 14, 1);
  color: rgba(255, 255, 255, 1);
}
/* header */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.brand {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 50px;
}

.nav-menu {
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 66px;
}

.nav-links {
  list-style: none;
  margin-right: 30px;
}

.nav-links .nav-item {
  text-decoration: none;
}

.banner-content {
  max-width: 862px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-heading {
  font-size: 4rem;
  font-weight: 700;
  line-height: 75px;
  text-align: center;
}
.banner-text {
  font-size: 1rem;
  font-weight: 400;
  /* line-height: 26px; */
  text-align: center;
}
.btn-explore {
  border-radius: 8px;
  border: none;
  margin-top: 32px;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 20px 25px;
}
.banner-img {
  width: 100%;
}

/* media query */
@media screen and (max-width: 576px) {
  .navbar {
    flex-direction: column;
  }
  .nav-menu {
    margin-top: 20px;
  }
}
