@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared  */
.display-flex {
  display: flex;
}
.dark-black {
  color: rgba(19, 19, 19, 1);
}
.light-black {
  color: rgba(66, 66, 66, 1);
}
.text-grey {
  color: rgba(114, 114, 114, 1);
}
.text-orange {
  color: rgba(255, 144, 14, 1);
}
.bg-light-pink {
  background-color: rgba(255, 144, 14, 0.1);
}
.navbar,
.banner,
main,
footer {
  max-width: 1440px;
  margin: 0 auto;
}
.btn {
  background-color: rgba(255, 144, 14, 1);
  color: rgba(255, 255, 255, 1);
}
.section-heading {
  font-size: 3rem;
  font-weight: 700;
}
.section-description {
  font-size: 1rem;
  font-weight: 400;
}
/* header */
.navbar {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 116px;
}
.brand {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 50px;
}

.nav-menu {
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 66px;
}

.nav-links {
  list-style: none;
  margin-right: 30px;
}

.nav-links .nav-item {
  text-decoration: none;
}

.banner-content {
  max-width: 862px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-heading {
  font-size: 4rem;
  font-weight: 700;
  line-height: 75px;
  text-align: center;
  margin-bottom: 24px;
}
.banner-text {
  font-size: 1rem;
  font-weight: 400;
  /* line-height: 26px; */
  text-align: center;
}
.btn-explore {
  border-radius: 8px;
  border: none;
  margin-top: 32px;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 20px 25px;
}
.banner-img {
  width: 100%;
}

/* team section design */
main > section {
  margin-top: 130px;
}
.team-container {
  gap: 73px;
  /* margin: 85px 60px 130px; */
  align-items: center;
}
.team-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 23px;
}
.team-description {
  max-width: 500px;
}
.team-description .team-heading {
  font-size: 3rem;
}
.quick-list {
  font-weight: 500;
}
.team-info {
  margin: 24px 0 32px;
  line-height: 26px;
}

/* card section */
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.card {
  width: 241.83px;
  height: 241.83px;
  border: 1px solid rgba(255, 144, 14, 1);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.fact-description {
  max-width: 542px;
  max-height: 52px;
  margin: 24px 0 100px;
}
.fact {
  font-size: 1.5rem;
  font-weight: 600;
}

/* sponsor design */
.sponsor-heading-container {
  text-align: center;
  margin-bottom: 50px;
}
.sponsor-heading {
  margin-bottom: 24px;
}
.sponsor-img-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.sponsor-img {
  filter: grayscale(100%);
}

.footer {
  background-color: #fef4ea;
  width: 100%;
}

.footer-content {
  max-width: 1440px;
  height: 100px;
  margin: 130px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

/* media query */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-menu,
  .team-container {
    flex-direction: column;
  }
  .navbar {
    margin-bottom: 20px;
  }
  .nav-menu {
    margin-top: 20px;
  }
  .team-images {
    grid-template-columns: repeat(1, 1fr);
  }
  .team-description {
    margin: 40px;
  }
  .fact-container,
  .sponsor-heading-container {
    width: 100%;
    text-align: center;
  }
  /* .sponsor-description{
    width:100%;
  } */
  .card-container,
  .sponsor-img-container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 24px;
  }
}

/* medium device */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .team-container {
    flex-direction: column;
  }
  .team-description,
  .section-description {
    margin: 40px;
  }
  .card-container,
  .sponsor-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 24px;
  }
}
